



	/* ----- z-Order ----- */

	#typo3-docheader {	position: relative; z-index: 2; }
	#typo3-docheader-row1 {	position: relative; z-index: 2; }
	#typo3-docheader-row2 {	position: relative; z-index: 1; }
	#typo3-docheader-row3 {	position: relative; z-index: 0; }
	#typo3-docbody {	position: relative; z-index: 0; }

	/* ----- Toolbar ----- */

	#typo3-docheader-row2 .toolbar-item:focus {
		outline: none;
	}

	#typo3-docheader-row2 .toolbar-item {
		display: block;
		height: 24px;
	/*	margin-top: 1px;
		padding-top: 2px;	*/
	}

	#typo3-docheader-row2 .toolbar-item-menu {
	/*	top: 27px;		*/
		top: 24px;
	}

	#typo3-docheader-row2 .toolbar-item-active {
		background-image: url(toolbar_item_active_bg.png);
	}

	/* ----- Caching ----- */

	#options-menu {
		position: relative;
		display: -moz-inline-block;	/* FF2 */
		display: inline-block;		/* FF3 & IE7 */
	}

	#options-menu > a {
		position: relative; z-index: 1;
		padding-bottom: 0;
	}

	#options-menu > ul {
		position: absolute; z-index: 0;
		list-style: none;
		padding: 2px 0px 0px;
		margin: 0px;
		background-color: #f9f9f9;
		border: 1px solid #abb2bc;
	/*	border-top: none;	*/
		width: 205px;
	}

	#options-menu li {
		padding-top: 2px;
		text-align: left;
		float: none;
		vertical-align: middle;
		height: 19px;
	}

	#options-menu li img {
		float: left;
		padding-right: 3px;
		margin: 0;
	}

	#options-menu li a {
		text-decoration: none;
		line-height: 12px;
		vertical-align: middle;
		display: block;
		padding-bottom: 2px;
		padding-left: 3px;
		font-size: 11px;
	}

	#options-menu li.group {
		height: auto
	}

	#options-menu li + li.group {
		background: left top url(shortcutgroups-bg.png) repeat-x transparent;
		margin-top: -4px;
		padding-top: 4px;
	}

	#options-menu ul.group {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	#options-menu ul.group > li.mradio {
		padding-left: 27px;
	}

	#options-menu ul.group > li.mradio.selected {
	/*	background: 4px 0 url(/typo3/gfx/state_checked.png) no-repeat transparent;	*/
		background: 4px 0 url(state_checked.png) no-repeat transparent;
	}

	#options-menu ul.group:hover > li.mradio {
		background: none;
	}

	#options-menu ul.group:hover > li.mradio:hover {
	/*	background: 4px 0 url(/typo3/gfx/state_checked.png) no-repeat transparent;	*/
		background: 4px 0 url(state_checked.png) no-repeat transparent;
	}
