@import url("../res/optionsmenu.css");

div.typo3-clipCtrl {
	display: inline-block;
	border: 1px solid #456482;
	padding: 0 2px 0 2px;
	margin: 0 5px 0 5px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
table.tv-clipboard {
	border: 1px solid black;
	margin-bottom: 5px;

	background: #E6E9EB;
}

table.tv-clipboard caption {
	text-align: left;
	font-size: 16px;
	margin-bottom: 0.5em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
table.tv-container {
/*	border-spacing: 8px;	*/
	padding: 8px;

	background: #E6E9EB;
}

table.tv-container > thead > tr > th + th,
table.tv-container > tbody > tr > td + td,
table.tv-container > tfoot > tr > td + td {
	border-left: 8px solid #E6E9EB;
}

table.tv-container caption {
	text-align: left;
	font-size: 16px;
	margin-bottom: 0.5em;
}

table.tv-container div.sortableItem > span > a,
table.tv-container div.sortableItem >        a {
	display: inline !important;
}

table.tv-clipboard div.sortableItem > span > a,
table.tv-clipboard div.sortableItem >        a {
	display: none !important;
}

table.tv-clipboard div.sortableItem + div.sortableItem > table {
	margin-top: 0.5em;
}

table.tv-container div.sortableButtons > a.onoff {
	visibility: visible !important;
}

table.tv-clipboard div.sortableButtons > a.onoff {
	visibility: hidden !important;
}

table.tv-container table.tv-coe tr.sortableHandle > td + td > a:firstChild {
	display: inline;
}

table.tv-clipboard table.tv-coe tr.sortableHandle > td + td > a:firstChild {
	display: none;
}

table.tv-container img.new,
table.tv-container img.browse,
table.tv-container img.paste {
	margin: 5px 1px 5px 1px;
}

table.tv-container tfoot td.full  { color: #F00000; }
table.tv-container tfoot td.used  { /*color: #101010;*/ }
table.tv-container tfoot td.empty { color: #000000; }
table.tv-container tbody td       { background: #EFEFF4; }

table.tv-container td.full  span.sortableControls { display: none; }
table.tv-container td.used  span.sortableControls { }
table.tv-container td.empty span.sortableControls { }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
table.tv-coe {
	border: 1px solid black;
}

table.tv-coe caption {
	display: none;
}

table.tv-coe caption.pages {
	text-align: left;
	font-size: 16px;
	margin-bottom: 0.5em;
	display: table-caption;
}

/*table.tv-coe thead.pages {
	display: none;
}*/

table.tv-coe tr.sortableHandle > td {
	vertical-align: top;
}

table.tv-coe tr.sortableHandle > td + td {
	text-align: right;
}

table.tv-coe tr.sortableHandle > td + td > a:firstChild {
	text-decoration: none;
}

table.tv-coe tr.sortableHandle > td > span.nobr >     img,
table.tv-coe tr.sortableHandle > td > span.nobr > a > img {
	text-align: center;
	vertical-align: middle;
	margin: 1px;
}

table.tv-coe tr.sortableHandle + tr td > a > img.bottom,
table.tv-coe tr.sortableHandle + tr td >     img.bottom {
	text-align: center;
	vertical-align: bottom;
	margin: 1px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
table.tv-elist td > span.nobr >     img,
table.tv-elist td > span.nobr > a > img {
	text-align: center;
	vertical-align: middle;
	margin: 1px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
div.tv-preview a {
	text-decoration: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
table.tv-hidden {
	opacity: 0.5;
	filter: Alpha(opacity=50);
}

/* + + + + + + + + + + + + + + + + + + + + + + + + + + + */
.tv-stdview .inlineEdit,
.tv-stdview .extraOptions,
.tv-stdview .sortableButtons,
.tv-stdview .sortablePaste {
	display: none;
}
